<div>
  <h1>Nuestros productos</h1>
   <p>{{ user.first_name }}</p> 

  <form action="/session/logout" method="POST">
  <button type="submit">Cerrar Sesión</button>
</form>

{{!-- views/products.hbs --}}

<!DOCTYPE html>
<html>
  <head>
    <title>Productos</title>
  </head>
  <body>
    <h1>Productos</h1>

    {{#if products}}
      <ul>
        {{#each products}}
          <li>
            <h2>{{this.name}}</h2>
            <p>{{this.description}}</p>
            <p>Precio: ${{this.price}}</p>

            {{#if cart}}
              <form action="api/carts/{{cart._id}}/product/{{this._id}}" method="POST">
                <label for="quantity">Cantidad:</label>
                <input type="number" id="quantity" name="quantity" value="1">
                <button type="submit">Agregar al carrito</button>
              </form>
            {{else}}
              <a href="/products/{{this._id}}">Ver detalles</a>
              <form action="/api/carts" method="POST">
                <input type="hidden" name="product" value="{{this._id}}">
                <label for="quantity">Cantidad:</label>
                <input type="number" id="quantity" name="quantity" value="1">
                <button type="submit">Agregar al carrito</button>
              </form>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>No hay productos disponibles</p>
    {{/if}}

    {{#if prevPage}}
      <a href="/products?page={{prevPage}}">Anterior</a>
    {{/if}}

    {{#if nextPage}}
      <a href="/products?page={{nextPage}}">Siguiente</a>
    {{/if}}
  </body>
</html>

